coverage
dist
node_modules
package-lock.json
yarn.lock
*.log
.*
!.babelrc
!.dockerignore
!.editorconfig
!.env.example
!.eslintrc.js
!.eslintignore
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.npmignore
!.storybook
!.npmrc
!.prettierrc
!.prettierignore
!.travis.yml
!.versionrc